@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
	font-family: 'Roboto', sans-serif;
}
img{
	width: 100%;
	height: auto;
}

*,::after,::before {
  box-sizing: border-box
}

section{
	display: block;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.slider-principal{
	-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.box-product{
	padding: 5px;
	cursor: pointer;
}
.box-product:hover{
	border: 1px solid gray;
}

.product-slider{
	padding: 0;
}

.box-data{
	text-align: center;
}

.list-price{
	text-decoration: line-through;
	display: block;
}

.best-price{
	display: block;
	color: red;
}
